<% if current_user.readwrite == true -%>
<div class="section_box">
<%= render(:partial => "search/bulk_tag", :locals => { :heading => "Unclassified Nodes", :nodes => @unclassified_nodes, :tags => @tags }) %>
</div>
<% end -%>
<div class="section_box">
<h1>All Nodes</h1>
<%= render :partial => "nodes/listing", :locals => { :table_id => "all_nodes_list", :checkbox => false, :nodes => @all_nodes.sort { |a,b| a.description <=> b.description } }%>
</div>