<table>
    <% nodes.each do |node| -%>
    <tr>
    
        <td>
        <%= link_to("#{h node.description} (#{h node.uuid})", node_path(node)) %></td>
        <td>
            <%= edit_button("Edit", edit_node_path(node))%>
            <%= remove_button("Delete", node_path(node), "Delete node #{h node.description}?")%>            
        </tr>
    <% end -%>
</table>