<%= render :partial => "search_form" %>

<% if @nodes -%>
<h1>Search Results</h1>
<table>
  <tr>
    <th>UUID</th><th>Description</th><th>Notes</th><th>Tags</th>
  </tr>
<%= render(:partial => "nodes/index", :collection => @nodes) %>

</table>
<% end -%>
