<fieldset>
  <legend>Edit Value</legend>
<%= error_messages_for :avalue %>
<% form_for :avalue, :url => avalue_url(:node_id => @node.id, :attrib_id => @attrib.id), :html => { :method => 'put' } do |form| %>
<%= render :partial => 'form', :locals => { :attrib => @attrib, :node => @node, :form => form }  %>
<%= submit_tag "Update" %>
<%= link_to 'Remove', avalue_url(:node_id => @node.id, :attrib_id => @attrib.id, :id => avalue.id), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</fieldset>