<%= render :partial => "layouts/header" %>
<div id="content">
<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %>
</div>
<%= render :partial => "layouts/tag_list" %>
<%= render :partial => "layouts/footer" %>
